#wrap .header_wrap {
  height: 65px;
  border-bottom: 1px solid #ddd;
}
#wrap .header_wrap .header {
  width: 1200px;
  height: 65px;
  padding: 0 15px;
  margin: 0 auto;
}
#wrap .header_wrap .header .header_logo {
  float: left;
  width: 280px;
  height: 40px;
  margin-top: 8px;
}
#wrap .header_wrap .header .header_nav {
  float: right;
  margin-top: 8px;
}
#wrap .header_wrap .header .header_nav #position {
  margin-right: 50px;
}
#wrap .header_wrap .header .header_nav #position img {
  vertical-align: middle;
}
#wrap .header_wrap .header .header_nav #position span {
  font-weight: bold;
}
#wrap .header_wrap .header .header_nav li {
  float: left;
}
#wrap .header_wrap .header .header_nav li > a {
  display: block;
  font-weight: bold;
  color: black;
  padding: 10px 15px;
  line-height: 20px;
}
#wrap .header_wrap .header .header_nav li > a:hover {
  background: #fff;
  color: #e94840;
}
#wrap .header_wrap .header .header_nav .shop_login {
  border-radius: 4px;
  background: #e94840;
}
#wrap .header_wrap .header .header_nav .shop_login > a {
  color: #fff;
}
#wrap nav {
  position: relative;
}
#wrap nav .carousel_wrap {
  height: 420px;
  width: 100%;
}
#wrap nav .carousel_wrap .carousel {
  height: 100%;
  width: 100%;
  position: relative;
}
#wrap nav .carousel_wrap .carousel .banner {
  height: 100%;
  width: 100%;
  position: relative;
}
#wrap nav .carousel_wrap .carousel .banner li {
  position: absolute;
  height: 420px;
  width: 100%;
}
#wrap nav .carousel_wrap .carousel .banner .banner1 {
  background-image: url("../images/Home/banner1.jpg");
  background-position: -280px 0;
}
#wrap nav .carousel_wrap .carousel .banner .banner2 {
  background-image: url("../images/Home/banner2.jpg");
  background-position: -280px 0;
}
#wrap nav .carousel_wrap .carousel .banner .banner3 {
  background-image: url("../images/Home/banner3.jpg");
  background-position: -280px 0;
}
#wrap nav .carousel_wrap .carousel .cbanner {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
#wrap nav .carousel_wrap .carousel .cbanner li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
#wrap nav .nav_tab {
  float: left;
  display: flex;
  flex-direction: column;
  width: 180px;
  background: #757881;
  position: absolute;
  left: 100px;
  top: 0;
  z-index: 20;
}
#wrap nav .nav_tab li {
  height: 42px;
  padding-left: 45px;
  position: relative;
}
#wrap nav .nav_tab li img {
  position: absolute;
  top: 20px;
  right: 35px;
}
#wrap nav .nav_tab a {
  color: #fff;
  font-weight: bold;
  line-height: 42px;
}
